.inputNumber {
    box-sizing: border-box;
    border-radius: 0.3rem;
    border: none;
    opacity: 0.9;
    margin-left : 0.5rem;
    margin-right : 0.1rem;
    width : 4rem;
    padding-left : 0.75rem;
    height : 100%;
}