.radioGroup {
    display : flex;
    justify-content: space-around;
    align-items: center;
    min-width: 50%;
    flex-wrap : wrap;
    box-sizing: border-box;
}

.radioElement {
    display : inline-block;
    width : auto;
    margin : 0 0.4rem;
}

.radioElement input {
    color : yellow;
}